@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;700&family=Roboto:wght@400;700&display=swap');

.site-content-custom {
    min-height: 60vh;
    padding-top: 1.5rem;
    margin-top: 8px;
    transition: all 0.4s;
}

.mainheading h1.sitetitle {
    color: #222;
    font-family: 'Roboto', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-weight: 700;
}

.article-post { 
    font-family: 'Roboto', 'Noto Serif JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    line-height: 2;
    font-size: 20px;
    font-weight: 300;
    color: #222;
}

.article-post h2,.article-post h3  {
    margin-top: 1.5em;
}

.article-post div  {
    margin-bottom: 1.5em;
}

/* tag cloud */

.transpdark2 {
    background: rgba(0, 0, 0, 0);
    color: #000;
}

@media (max-width:999px) {
    .jumbotron2.fortags {
        margin-bottom: 0 !Important;
    }
    .jumbotron2 {
        margin-bottom: 0;
        border-radius: 0;
    }
}

@media (min-width:768px) {
    .jumbotron2.fortags {
        margin-bottom: -50px;
        margin-top: 3rem;
        padding: 0;
        height: 350px;
        border-radius: 0;
        background-size: cover;
    }

    /* .jumbotron2.fortags .col-md-4 {
        background: rgba(0, 0, 0, 0.75);
        color: #fff;
    } */

    .jumbotron2.fortags .row {
        margin: 0;
    }
}

.jumbotron2.fortags {
    margin-top: 3rem;
    padding: 0;
    border-radius: 0;
    background-size: cover;
}

.jumbotron2.fortags a {
    padding: 5px 10px 7px;
    background: #00ab6b;
    border-radius: 30px;
    color: #fff;
    font-weight: 500;
    text-transform: lowercase;
    font-size: 0.8rem;
    display: inline-block;
}

.layout-page .jumbotron2.fortags {
    display: none;
}

a.tags {
    padding: 5px 10px 7px;
    background: #00ab6b;
    border-radius: 30px;
    color: #fff;
    font-weight: 500;
    text-transform: lowercase;
    font-size: 0.8rem;
    display: inline-block;
}

/* table */
table {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

body tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
}

th {
    padding: .25rem .5rem;
    border: 1px solid #e5e5e5;
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

td {
    padding: .25rem .5rem;
    border: 1px solid #e5e5e5;
    display: table-cell;
    vertical-align: inherit;
}
