@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&family=Roboto:wght@400;700&display=swap');

.site-content-custom {
    min-height: 60vh;
    padding-top: 1.5rem;
    margin-top: 8px;
    transition: all 0.4s;
}

.mainheading h1.sitetitle {
    color: #222;
    font-family: 'Roboto', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-weight: 700;
}

.article-post { 
    font-family: 'Roboto', 'Noto Serif JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    line-height: 2;
    font-size: 20px;
    color: #222;
}