<!-- Site Title
================================================== -->
<div class="mainheading">
    <a href="{{ .Site.BaseURL }}">
        <h1 class="sitetitle">{{ .Site.Title }}</h1>
    </a>
    <p class="lead">
         <a href="https://twitter.com/yamacraft">@yamacraft</a>の雑記。感想は直接お伝えください。<br>
         記事フィルタはこちら → <a href="/note/tags/tech/">tech</a> / <a href="/note/tags/work/">work</a> / <a href="/note/tags/diary/">diary</a> / <a href="/note/tags/poem/">poem</a> / <a href="/note/tags/yodan/">yodan</a>
    </p>
</div>